name: tests with coverage

on:
  push:
    branches: [ 'develop', 'main' ]
  pull_request:
    branches: [ 'develop', 'main' ]

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        php: [ 8.4 ]
        laravel: [ 12 ]
        include:
          - php: 8.5
            laravel: 12

    name: PHP ${{ matrix.php }} - Laravel ${{ matrix.laravel }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, xdebug
          ini-values: error_reporting=E_ALL
          tools: composer:v2
          coverage: xdebug

      - name: Install dependencies
        run: |
          composer update --prefer-dist --no-interaction --no-progress --with="illuminate/contracts=^${{ matrix.laravel }}"

      - name: Execute tests
        run: vendor/bin/phpunit --display-deprecations --display-phpunit-deprecations --coverage-clover=coverage/clover.xml

      - name: Send coverage to Qlty
        if: success()
        uses: qltysh/qlty-action/coverage@v1
        with:
          token: ${{ secrets.QLTY_COVERAGE_TOKEN }}
          files: coverage/clover.xml